{% extends "base.html" %}

{% block content %}

<h1>Customer Record</h1>
{% if customer_record %}
    <table class="table tble-striped table-hover table-bordered">
        <tr>
            <td>Name</td>
            <td>{{ customer_record.first_name }} {{ customer_record.last_name }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ customer_record.gender }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ customer_record.email }}</td>
        </tr>
        <tr>
            <td>Time of creation</td>
            <td>{{ customer_record.created_at }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ customer_record.phone }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ customer_record.location }}</td>
        </tr>
    </table>

{% else %}
{% endif %}

<br/>
<a href="{% url "home" %}" class="btn btn-secondary">Back</a>
<a href="{% url "update" customer_record.id %}" class="btn btn-secondary">Update</a>
<a href="{% url "delete" customer_record.id %}" class="btn btn-danger">Delete</a>

{% endblock content %}